body{

    width: 780px;
    margin: auto;
    font-family: 'Inria Serif', serif;
    background-color: burlywood;
    font-size: 16px;
    border: 2px solid brown;
    border-radius: 5px;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}
header{
    height:250px;
}
#pp{
    width: 150px;
    height: 150px;
    position: relative;
    right:20%;
    padding-top: 15px;
}
.photo{
    float:right;
}
.infoPerso{
    float:left;
}
.section-g{
    float:left;
    font-size: 20px;
    font-weight: bold;
}
.section-d{
    float: right;
    margin-top: 18px;
}
section{

    height: 350px;
    padding: 25px;
    margin-bottom: 70px;
}
h2{
    border-bottom: 2px solid brown;
}
.titre{
    font-weight: bold;
    font-size: 20px;
    
}
#formation-g{
    line-height: 3;
}
#hehP{
    margin-top: 36px;
}
#becode{
    margin-top: 35px;
}
#taff{
    line-height: 3.0;
}
#connaissance{

    line-height: 1.9;
    margin-right: 50px;
    
}
#langue{

    margin-top: 20px;
}
#interet{

    margin-top: 3px;
    line-height: 2.0;

}
#danse{
    padding-top: 5px;
}