/* body*/
body{
    margin: auto;
    width: 800px;
    background-color:#AD343E;
    
}
.container{
    background: linear-gradient(to bottom,rgba(173, 52, 62,0.2),rgba(173, 52, 62,0.4) ),
                     url(../image/backgroundcode.jpg) fixed ;
    color: white;
}
.sameColorBack{
    background-color:#1f1f1f;
    border-radius: 10px;
}

h1, h2{
    
    text-align: center;
    padding: 10px;
    
}
/*partie profil*/
.profil{
    display:flex;
    flex-direction: row;
    margin: 25px 0 25px 0;
    justify-content: space-around;
}
img{
    width:150px;
    margin-top: 20px;
    border: 1px solid #1f1f1f;
    border-radius: 150px;
}
.gauche{
    padding-right: 140px;
}
/*partie reseau*/
.reseau{
    padding: 5px;
}
li{
    display: inline-block;
    width: 150px;
}
ul{
    list-style-type: none;
    text-align: center;
    margin-right: 35px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
/*partie formation*/
.formation{
    display: grid;
    grid-template-areas: "h2 h2"
                         "droite gauche"
                         "droite gauche";
    margin: 25px 0 25px 0;
}
.formation h2{
    grid-area: h2;
}
.titre{
    font-weight: bolder;
}
.formation .droite{
    grid-area: droite;
}
.formation .gauche{
    grid-area: gauche;
}
.droite{
    padding-left: 50px;
}
.paddingP{
    padding-bottom: 35px;
}
.paddingP2{
    padding-bottom: 22px;
}
.paddingP3{
    padding-bottom: 15px;
}
/* experience proffessionnelles*/
.professionnelle{
    display: grid;
    grid-template-areas: "h2 h2";
    padding-left: 50px;
}
.professionnelle h2{
    grid-area: h2;
}

.reassort{
    padding-right: 80px;
}
/*langages*/
.langages{
    margin: 25px 0 25px 0;
    display: grid;
    grid-template-areas: "h2 h2";
}
.langages h2{
    grid-area: h2;
}
.langues{
    padding-left: 50px;
}

/*centre d'intérêt*/

.interet{
    display: grid;
    grid-template-areas: "h2 h2";

}
.interet h2{
    grid-area: h2;
}

.centreInteret{
    padding-left: 50px;
}